// FOOTER
/* FOOTER */
footer {
    background-color: $colores;
    .whatsapp {
        z-index: 2;
        position: fixed;
        right: 2%;
        bottom: 2%;
    }
    .d-flex {
        @include bloque(flex, space-between, center);
        text-align: center;
        padding: 0;
        padding-right: 12%;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        div {
            img {
                padding: 2%;
                align-items: center;
                height: 10rem;
                object-fit: cover;
            }
        }
        .text {
            .text-footer {
                font-size: 200%;
                font-weight: 200%;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}