@mixin bloque($display, $justify-content, $align-items){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}